.site-footer
{
  background: linear-gradient(#7B9C11, #BCDCFA);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;


}


.site-footer h6
{
  color:#fff;
  text-shadow: 1px 0px 1px #000;
  font-weight: bold;
  font-size:18px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
  
  
}
div > p{
  color:#000;
}
.footer{
  text-align: center;
  color: #fff;
}



